.App {
  text-align: center;
  padding: 1%;
}

.board-container {
	width: 100%;
	padding: 20px;
	margin: auto;
}
.boards-container {
  margin-top: 15px;
  display: grid;
  grid-gap: 15px;
}
table{
  margin: auto;
	width: 80%;
	border-collapse: collapse;
	border: 1px solid #fff; /*for older IE*/
	border-style: hidden;
}

th {
	padding: 8px;
	background-color: #fde9d9;
  font-size: medium;
  width: 60px;
}

td {
	padding: 3px;
	border-width: 1px;
	border-style: solid;
  border-color: #f79646 #ccc;
  text-align: right;
}


.interactivity{
  display: grid;
  min-height: 30px;
  height: 30px;
}


.details{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.add-player-btn{
  margin-right: 5px;
}
.name-input{
  height: 30px;
  padding-left: 5px;
  padding-right: 5px;
}
.start-game-btn{
  padding-left: 5px;
  margin-left: 5px;
}