* {
  font-family: 'Baloo 2', cursive;
}

.board-container {
  width: 100%;
  margin: auto;
}

.boards-container {
  margin-top: 15px;
  margin-bottom: 15px;
  display: grid;
  grid-gap: 15px;
}
.container {
  padding: 5%;
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.pins-container{
  display: flex;
  justify-content: center;
  flex-direction: row;
}

